<main>

  <%= render "user", user: @user %>
  
  <div class="user_bio border">
    <h4 class="user_bio_title title">Bio</h4>
    <p class="user_bio_text text"><%= @user.bio %></p>
  </div>
  <div>      
    <h3 class="title comm-title">Most recent 3 posts</h3>
    <ul class="list-user_post flex-column">
      <% @user_posts.each_with_index do |post, index| %>
        <li class="item-user_post border">
                    
          <%= render partial: "post", locals:{post: post, index: index}  %>
          
          <%= button_to "Comment", new_user_post_comment_path({post_id: post.id, user_id: @user_id}), method: :get, class:"btn"%> 
          
        </li>
      <% end %>
    </ul>
  </div>
  <%= button_to 'See all posts', user_posts_path(@user_id), method: :get, class:"btn" %>
</main>
