<main>
  <div class="border comments-top">
    <div>
      <h3 class="title">
        <%= @post.title %> by <%= @post.user.name %>
      </h3>

      <%= render partial: "comm_like", locals:{post: @post}  %>
      
    </div>
    <div>
      <p class="text"><%= @post.text %></p>
    </div>
  </div>

  <%= render partial:"comment", locals:{post: @post} %>

  <%= button_to "Comment", new_user_post_comment_path({post_id: @post.id, user_id: @user_id}), method: :get, class:"btn"%> 

</main>
