<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <h1 class="title-blog">BLOG RAILS APPLICATION</h1>

    <% flash.each do |name, msg| %>
      <div class="<%= name %>" style="white-space: pre-wrap">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
